/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
}

body {

    background-color: #fff;
}

/* Header styles */

header nav {
    background-color: #F4F1DE;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 3rem;
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    display: inline-flex;
}

li img {
    height: auto;
    width: 200px;
    border-radius: 20%;
}

li a {
    color: #E07A5F;
    text-decoration: none;
    transition: letter-spacing 0.3s ease;
}

li a:hover {
    text-decoration: underline;
    letter-spacing: .3rem;
}

li a:active {
    color: #ac5e49;
}

/* Main styles */
main {
    margin-top: 19rem;
}

/* Footer styles */